.wrapper{
    display: grid;
    grid-template-columns: 10fr 4fr;
}
.map{
    position: relative;
}
.map img{
    object-fit: cover;
}
.target{
    position: absolute;
    width: 2%;
    cursor: pointer;
}
.Moscow{
    left: 47.7%;
    top: 17.5%;
}
.Voronezh{
    left: 52.8%;
    bottom: 25%;
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.address_item{
    display: block;
}
.address img{
    height: 100%;
    max-height: 30px;
    width: auto;
    position: absolute;
    left: -30px;
    top: 5px;
}
.address h3{
    position: relative;
    font-size: 2.25rem;
}
.address__content a{
    font-size: 1.5rem;
}
.address__content>p{
    margin-top: 15px;
}
.Voronezh-item{
    display: none;
}
@media(max-width:970px){
    .address h3{
        font-size: 1.75rem;
    }
}
@media (max-width:895px) {
    .address img{
        display: none;
    }
}
@media (max-width: 800px) {
    .wrapper{
        display: block;
    }
    .address img{
        display: block;
    }
    .address{
        justify-content: space-between;
    }
    .target{
        pointer-events: none;
        width: 5%;
        min-width: 25px;
    }
    .Moscow{
        left: 45.8%;
        top: 9.5%;
    }
    .Voronezh{
        left: 51.3%;
        bottom: 25.7%;
    }
    .address_item{
        display: block !important;
        padding: 30px 20px 30px 50px;
    }
    .map_img{
        min-height: 200px;
    }
}
@media (max-width: 440px) {
    .address{
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }
    .Moscow-item{
        border-bottom: 1px solid #D2D6DF;
    }
    .address_item{
        box-sizing: border-box;
        width: 100%;
    }
}