@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
a {
    text-decoration: none;
}
.icons>a{
    transition: all 0.2s ease;
}
.icons>a:hover{
    transform: scale(1.1);
}
:root{
    --headerHeight: 100px;
}

/*Header*/
.header__top{
    background-color: #EDEFF2;
    height: 130px;
}
.header__bottom{
    background-color: #AFE5FF;
}
.header__title {
    display: flex;
}
.header__title p{
    font-size: 1.75rem;
    margin-left: 20px;
    font-family: 'Play', sans-serif;
}
.header__top ._container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title .logo {
    width: 52px;
}
.header__connection {
    text-align: right;
}
.header__connection a {
    font-size: 2.5em;
}
.connection_buttons {
    display: flex;
    gap: 30px;
    cursor: pointer;
    color: #1BA6FF;
}
.connection_buttons>p{
    transition: color 0.2s ease;
}
.connection_buttons>p:hover {
    text-decoration: underline;
}
.burger{
    display: none;
}
.header__burger_menu{
    display: none;
    min-height: calc(100vh - var(--headerHeight));
    width: 100%;
    position: absolute;
    top: var(--headerHeight);
    z-index: 7;
    background-color: rgb(46, 46, 46, 0.8);
    overflow: hidden;
}
.header__burger_menu._active{
    display: block;
    overflow-y: auto;
}
.burger_navigation{
    position: absolute;
    right: 0;
    font-size: 2rem;
    padding: 30px;
    width: 50%;
    min-height: 100%;
    background-color: white;
    transition: 0.3s;
    transform: translateX(100%);
}
.burger_navigation li{
    border-bottom: 1px solid #D2D6DF;
    padding: 20px 0;
}
.burger_navigation li:last-child{
    border-bottom: none;
}
.header__bottom ._container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom .nav {
    display: flex;
    gap: 30px;
}
.header__bottom .nav>a{
    font-size: 1.25rem;
    display: block;
    padding: 12px 12px;
    transition: 0.2s;
}
.header__bottom .nav>a:hover{
    background-color: #75D2FF;
}
.header__bottom .icons{
    display: flex;
    align-items: center;
    height: 20px;
    gap: 25px;
}

.header__bottom .icons>a{
    display: block;
}


/*Footer*/

.footer {
    background-color: #D2D6DF;
    overflow: hidden;
    position: relative;
}
.footer__top{
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-column-gap: 20px;
    padding-top: 50px;
}
.footer__text {
    padding-bottom: 100px;
}
.footer__text p {
    font-size: 1.125rem;
}
.footer__text address{
    margin-top: 35px;
    font-style: normal;
}
.footer__text address h3{
    font-size: 2rem;
    font-weight: 700;
}
.footer__text address p{
    margin-top: 20px;
}
.footer .icons{
    display: flex;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 15px;
    height: 25px;
}
.footer .icons a{
    display: block;
}
 .footer__map{
    z-index: 5;
}
.footer__bottom {
    background-color: #6C717B;
    height: 100px;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.footer__bottom ._container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    grid-column-gap: 20px;
}
.footer__bottom .icons{
    display: none;
}
.footer__info{
    display: flex;
    align-items: center;
    grid-column: 1/4;
}
.footer__info > a{
    margin-left: 15px;
    color: inherit;
    font-size: 2rem;
    font-weight: 500;
}
.footer__connection{
    cursor: pointer;
    grid-column: 4/7;
}
.footer__connection p:nth-child(1){
    margin-bottom: 5px;
}
.footer__connection p{
    cursor: pointer;
}
.footer__connection p:hover{
    text-decoration: underline;
}
.footer__logo {
    width: 52px;
}

@media(max-width: 1280px){
    .footer__text {
        padding-bottom: 80px;
    }
    .header__top{
        height: var(--headerHeight);
    }
    .footer__bottom {
        height: 80px;
    }
}
@media (max-width:1120px) {
    .footer__info > a{
        font-size: 1.5rem;
    }
    .footer__text {
        padding-bottom: 0;
    }
    .footer__top{
        display: block;
    }
    .footer__bottom {
        position: relative;
    }
    .footer__top._container{
        max-width: 100%;
    }
    .footer__map{
        height: 300px;
        margin-top: 40px;
    }
    .footer__bottom>._container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__info > a{
        font-size: 2.5rem;
    }
    .footer__connection{
        display: flex;
        gap: 20px;
        font-size: 1.25rem;
    }
    .footer__text{
        max-width: calc(100vw/1.1);
        margin: 0 auto;
    }
    .footer .icons{
        display: none;
    }
    .footer__bottom .icons{
        display: flex;
        margin: 0;
    }
}
@media(max-width:970px){
    .burger{
        display: block;
        width: 45px;
        cursor: pointer;
    }
    .header__connection{
        display: none;
    }
    .header__bottom{
        display: none;
    }
    .footer__connection p:nth-child(1){
        margin: 0;
    }
    .footer__connection{
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media (max-width:760px) {
    .footer__bottom>._container{
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 0;
    }
    .footer__bottom .icons{
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    .footer__bottom{
        height: auto;
    }
}
@media(max-width:540px){
    .footer__logo{
        width: 26px;
    }
    .footer__info > a{
        font-size: 2rem;
    }
}
@media(max-width:490px){
    :root{
        --headerHeight: 80px;
    }
    .header__title p{
        font-size: 1.25rem;
    }
    .header__title .logo{
        width: 35px;
    }
    .burger{
        width: 35px;
    }
    .footer__connection{
        margin-top: 15px;
        flex-direction: column;
        padding-left: calc(26px*2);
    }
    .footer__bottom ._container{
        flex-direction: column;
    }
    .footer__bottom .icons{
        padding-left: calc(26px*2);
        justify-content: flex-start;
    }
    .footer__bottom>._container{
        align-items: flex-start;
    }
}
@media(max-width:360px){
    :root{
        --headerHeight: 60px;
    }
    .header__title p{
        font-size: 1rem;
    }
    .header__title .logo{
        width: 26px;
    }
    .burger{
        width: 26px;
    }
}

