@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');
:root{
    --mainMargin: 40px;
    --mainPadding: 30px;
    --small-text-collor: #6C717B;
    --lineHeight: 1.5rem;
}
.main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 70px;
}
.practice_sidebar{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-right: 1px solid #D2D6DF;
}
.practice_sidebar__links{
    grid-column: 1/4;
}
.practice_sidebar__links h2{
    color: var(--small-text-collor);
    font-size: 1.5rem;
}
.practice_sidebar__links a{
    display: block;
    border-bottom: 1px solid #D2D6DF;
    font-size: 1.75rem;
    padding: var(--mainPadding);
    padding-left: 0;
    color: #1BA6FF;
}
.practice_sidebar__links a:last-child{
    border: none;
}
a.disabled{
    color: var(--small-text-collor);
    cursor: default;
    pointer-events: none;
}
.apartements {
    grid-column: 6/13;
}
.apartements h1{
    font-size: 2.5rem;
    margin-bottom: var(--mainMargin);
}
.apartments__list{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 450px));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    animation: appearance 1s;
}
@keyframes appearance {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.apartements__card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #EDEFF2;
}
.apartements__img img{
    height: 100%;
    object-fit: cover;
}
.court__img{
    min-height: 150px;
}
.court__img img{
    height: 100%;
    object-fit: cover;
}
.apartements_description{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.apartements_description h3{
    font-size: 1.25rem;
    font-family: 'Fira Sans', sans-serif;
}
.description_bottom{
    margin-top: 5px;
}
.description_bottom p{
    font-size: 1rem;
    display: inline-block;
    color: var(--small-text-collor);
}
.description_bottom span{
    margin-left: 20px;
    font-size: 3rem;
}
.description_court p:first-child{
    font-size: 2.25rem;
    margin-top: 30px;
}
.description_court p:last-child{
    font-size: 0.75rem;
    color: var(--small-text-collor);
}
.pages{
    margin-top: 60px;
    font-size: 1.25rem;
    user-select: none;
    color: #1BA6FF;
}
.pages a{
    color: inherit;
    margin-right: 25px;
    cursor: pointer;
}
.pages a.disabled{
    color: var(--small-text-collor);
}
.pages a:first-child, .pages a:last-child{
    color: #1F242E;
}
.pages a:first-child:hover, .pages a:last-child:hover{
    text-decoration: none;
}
@media(max-width: 1220px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .apartements{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apartements h1{
        display: none;
    }
    .apartments__list{
        margin-top: 40px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .court__img{
        min-height: 100px;
    }
    .apartements__card{
        grid-template-columns: 1fr 3fr;
    }
    .apartements_description h3{
        font-size: 1.9rem;
    }
    .description_court p:first-child{
        font-size: 2.5rem;
    }
    .practice_sidebar{
        display: block;
        border: none;
    }
    .pages{
        font-size: 1.5rem;
    }
}
@media(max-width: 970px){
    .main{
        margin-top: 0;
    }
    .main h2{
        display: none;
    }
    .apartments__list{
        margin-top: 0px;
    }
    .description_court p:last-child{
        font-size: 1.125rem;
    }
}
@media(max-width: 800px){
    .apartements_description h3{
        font-size: 1.5rem;
    }
    .description_court p:first-child{
        font-size: 2rem;
    }
    .practice_sidebar__links a{
        font-size: 1.5rem;
    }
    .pages{
        font-size: 1.75rem;
    }
}
@media(max-width: 660px){
    .apartments__list{
        grid-template-columns: none;
        grid-template-rows: repeat(6,1fr);
    }
    .apartements__card:nth-child(n+7){
        display: none;
    }
    .apartements_description h3 {
        font-size: 1.75rem;
    }
    .description_court p:first-child {
        font-size: 2.9rem;
        margin-top: 10px;
    }
    .main{
        margin-bottom: 30px;
    }
}
@media (max-width:450px) {
    .apartements_description h3{
        font-size: 1.5rem;
    }
    .description_court p:first-child {
        font-size: 2.5rem;
    }
    .practice_sidebar__links a{
        font-size: 1.25rem;
        padding: 20px 0;
    }
}
@media(max-width: 350px){
    .description_court p:first-child {
        font-size: 2.5rem;
    }
}