li{
    list-style: none;
}
.main{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.left-side{
    border-right: 2px solid #D2D6DF;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.left-side-wrapper{
    grid-column: 1/4;
}
.left-side-wrapper>h3{
    color: #6C717B;
}
.links{
    display: block;
    font-size: 1.75rem;
    color: #1BA6FF;
    padding: 30px 0;
    border-bottom: 1px solid #D2D6DF;
}
.links:nth-child(4){
    border: none;
}
.links.disabled{
    color: #6C717B;
    pointer-events: none;
}
.left-side__block1{
    margin-top: 200px;
}
.left-side__block1 h3{
    font-weight: bold;
    font-size: 1.75rem;
}
.left-side__block1 li{
    padding: 30px 0;
    border-top: 1px solid #D2D6DF;
    color: #6C717B;
    line-height: 1.5rem;
}
.left-side__block1 li:nth-child(2){
    border: none;
}
.left-side__digits{
    margin-top: 200px;
}
.left-side__digits>h3{
    font-size: 1.5rem;
    color: #6C717B;
}
.left-side__digits li{
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #D2D6DF;
}
.left-side__digits li:last-child{
    border: none;
}
.left-side__digits li>p:first-child{
    font-size: 3.5rem;
}
.left-side__digits li>p:last-child{
    color: #6C717B;
    margin-top: 15px;
}

.right-side{
    grid-column: 6/13;
}
.right-side>h1{
    font-size: 2.25rem;
}
.right-side>h3{
    margin-top: 60px;
    font-size: 1.75rem;
}
.right-side__sale{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.sale_title{
    background-color: #0066FF;
    padding: 30px;
}
.sale_title h4{
    color: #AFE5FF;
    font-size: 1.2rem;
}
.sale_title p{
    margin-top: 5px;
    color: white;
    font-size: 1.5rem;
}
.sale_image img{
    height: 100%;
    object-fit: cover;
}
.right-side__list{
    margin-top: 22px;
    display: grid;
    grid-gap: 20px;
}
.right-side__list li{
    background-color: #EDEFF2;
    padding: 20px;
}
.list1{
    grid-template-columns: repeat(2, 1fr);
}
.list2{
    grid-template-columns: repeat(5, 1fr);
}
.list3{
    grid-template-columns: repeat(3, 1fr);
}
.list3 h4{
    font-size: 1.5rem;
    font-weight: bold;
}
.list3 p{
    margin-top: 10px;
    line-height: 1.5rem;
}
.list_block_1{
    margin-top: 70px;
}
.list4 h3{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
/* .block-scheme{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 18fr 16fr 8fr 7fr 5fr 1fr;
    grid-column-gap: 2px;
}
.block-scheme__item{
    background-color: #6C717B;
    height: 50px;
    position: relative;
}
.inner_block{
    position: absolute;
    width: 100%;
    height: 50%;
    border-left: 1px solid #D2D6DF;
}
.block-scheme__item:last-child .inner_block{
    border-left: none;
    border-right: 1px solid #D2D6DF;
}
.block-scheme__item:last-child .inner_text{
    text-align: right;
}
.inner_text{
    position: absolute;
}
.block-scheme__item:nth-child(even) .inner_block{
    bottom: -30px;
}
.block-scheme__item:nth-child(even) .inner_text{
    bottom: -60px;
}
.block-scheme__item:nth-child(odd) .inner_block{
    top: -30px;
} */
.scheme{
    margin-top: 85px;
    background-color: #D2D6DF;
    padding: 15px;
    position: relative;
    user-select: none;
}
.scheme>li{
    width: 7%;
    list-style: none;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
}
.scheme__description{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EDEFF2;
    max-height: 120px;
    max-width: 400px;
    text-overflow: ellipsis;
}
.description_item{
    padding: 20px;
}
.description_item>h3{
    font-size: 1.75rem;
    margin-bottom: 10px;
}
.description_item>p{
    color: #6C717B;
}
.scheme li>svg{
    width: 100%;
}
.scheme>li:hover{
    transform: scale(1.1);
}
.scheme>li:nth-child(2){
    top: 18%;
    left: 8%;
}
.scheme>li:nth-child(3){
    left: 2%;
    top: 55%;
}
.scheme>li:nth-child(4){
    left: 38%;
    top: 25%;
}
.scheme>li:nth-child(5){
    left: 37%;
    bottom: 20%;
}
.scheme>li:nth-child(6){
    right: 32%;
    top: 39%;
}
.scheme>li:nth-child(7){
    right: 10%;
    top: 25%;
}
.scheme>li:nth-child(8){
    right: 2%;
    bottom: 7%;
}
svg._active circle{
    fill: #0066FF;
}
svg.stroke._active path{
    stroke: #EDEFF2;
}
svg.path._active path{
    fill: #EDEFF2;
}
.right-side__block{
    margin-top: 80px;
}
.right-side__block>h3{
    font-size: 1.75rem;
}
.right-side__block>p{
    margin-top: 10px;
    color: #6C717B;
}
.switch_list_blocks{
    margin-top: 35px;
    font-size: 1.5rem;
}
.switch__item{
    cursor: pointer;
}
.switch__item.selected{
    background-color: #AFE5FF;
}
.switch__block_item>h3{
    font-weight: bold;
    margin-bottom: 15px;
}
.consultation_form{
    padding: 40px;
    border: 1px solid #D2D6DF;
    border-top: 10px solid #AFE5FF;
}
.consultation_form h3{
    font-size: 2.25rem;
}
.consultation_form h3>p{
    font-size: 1rem;
    margin-top: 10px;
}
.consultation_form .inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.inputs>.input{
    margin: 0;
    width: calc(100% - 30px);
}
.input{
    padding: 15px;
    width: calc(100% - 40px);
    border: 1px solid #D2D6DF;
    margin-top: 20px;
}
.submit{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consultation_form label{
    margin-left: 10px;
    user-select: none;
    color: #6C717B;
}
.acceptance{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    background-color: #AFE5FF;
    text-align: center;
    font-size: 1rem;
    padding: 15px 30px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover{
    background-color: #75D2FF;
}
.form_1{
    margin-top: 70px;
}
.form_2, .form_3{
    margin-top: 75px;
}
.form_4{
    margin-top: 67px;
}
@media (max-width: 1475px){
    html{
        font-size: 12px;
    }
}